<link href="https://fonts.googleapis.com/css?family=Lato|Alegreya+Sans+SC:700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<div class="container">
  <hr class="thick bg-info text-info rounded">
  <div class="row">
    <div class="col-lg-4 col-sm-2 pt-2 pt-sm-3">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnYKER-kuetqSG3kYX7xBm7F99eP1I7Dproez5LlTwM3stkYkX6g" class="img-fluid rounded-circle" alt="Raphael Fonseca">
    </div>
    <div class="col-lg-8 col-sm-4">
      <h1>Raphael Fonseca</h1>
    </div>
    <div class="col-lg-8 col-sm-4">
      <!-- <a class="btn btn-info btn-sm btn-block" href="#" role="button">Download PDF</a> -->
      <div class="d-table-cell">
        <p><a href="tel:+2132673872" class="text-info align-bottom"><i class="fas fa-phone"></i> +1 (213) 267 3872</a></p>
        <p><a href="mailto:raphael@fonseca.tech" class="text-info"><i class="fas fa-envelope"></i> raphael@fonseca.tech</a></p>
        <p><a href="maps" class="text-info"><i class="fas fa-home"> Ohio</i></a></p>
      </div>
    </div>
  </div>
  <hr class="rounded">
  <!-- details -->
  <div class="row col-sm-12">
      <!-- Profile -->
    <div class="row col-sm-3">
      <i class="fas fa-user d-inline-block text-info pr-3"></i>
      <h2 class="text-info d-inline-block">Profile</h2>
      <!-- <p>personal info[paragraph].</p> -->
      <i class="fas fa-code d-inline-block pr-3"></i>
      <p class="d-inline-block pr-3">Clean code</p>
      <i class="fas fa-mobile-alt d-inline-block pr-3"></i>
      <p class="d-inline-block pr-3">Responsive designs</p>
      <i class="fas fa-heart d-inline-block pr-3"></i>
      <p class="d-inline-block">With passion</p>
    </div>
      <!-- Education -->
  <div class="row col-sm-3">
        <i class="fas fa-graduation-cap d-inline-block text-info pr-3"></i>
        <h2 class="text-info d-inline-block">Education</h2>
        <div>
            <h5>2017</h5>
            <h5>Sabio Bootcamp</h5>
            <p>Full Stack Developer Certificate</p>
        </div>
  </div>
  <!-- Work Experience -->
  <div class="row col-sm-6">
        <i class="fas fa-briefcase d-inline-block text-info pr-3"></i>
        <h2 class="text-info d-inline-block">Work Experience</h2>
          <div class="col-sm-4">
              <h5 class="mb-0">Feb 2018 - present</h5>
              <h5 class="mb-0">BASF</h5>
              <p class="mb-0">Web Developer</p>
              <p class="text-secondary mb-0">Created paint based web application for fortune 500 company</p>
            </div>
            <div class="col-sm-4">
                <h5 class="mb-0">2008 - present</h5>
                <h5 class="mb-0">Collabera</h5>
                <p class="mb-0">Software Consultant</p>
            </div>
            <div class="col-sm-4">
              <h5 class="mb-0">2008 - 2015</h5>
              <h5 class="mb-0">U.S Air Force</h5>
              <p class="mb-0">Logistics Supervisor</p>
              <p class="text-secondary mb-0">Handled and scheduled Hazmat and heavy cargo transport</p>
          </div>
    </div>

  <!-- Details  -->
  <hr class="rounded">
  <!-- Skill tables -->
  <div class="row col-lg-12">
      <!-- .FrontEnd -->
      <div class="col-sm-4">
          <h2 class="text-info d-inline-block">Skills</h2>
          <div class="row">
            <div class="col-5">
              <p class="mb-0">Angular</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width:60%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="95"><span class="w-100 text-left pl-1">Intermediate</span></div>
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0">Angular JS</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Advanced</span></div>
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0">Javascript</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Advanced</span></div>
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0">CSS</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Basic</span></div>
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0">Bootstrap</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Advanced</span></div>
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0">jQuery</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Excellent</span></div>
              </div>
            </div>
            <div class="col-5">
              <p>jQuery</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Advanced</span></div>
              </div>
            </div>
          </div>
        </div>
      <!-- .Net Framework -->
      <div class="col-sm-4">
          <h2 class="text-info d-inline-block">.Net</h2>
          <div class="row">
            <div class="col-5">
              <p class="mb-0">C#</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width:95%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="95"><span class="w-100 text-left pl-1">Excellent</span></div>
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0">.Net Framework</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Excellent</span></div>
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0">.Net Core 1/2</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Intermediate</span></div>
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0">.Net</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Basic</span></div>
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0">ServiceStack</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Advanced</span></div>
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0">Authentication</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Excellent</span></div>
              </div>
            </div>
            <div class="col-5">
              <p>NUnit</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Intermediate</span></div>
              </div>
            </div>
          </div>
        </div>
      <!-- Tools -->
      <div class="col-sm-4">
          <h2 class="text-info d-inline-block">Tools</h2>
          <div class="row">
            <div class="col-5">
              <p class="mb-0">VS17</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width:95%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="95"><span class="w-100 text-left pl-1">Advanced</span></div>
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0">VSCode</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Advanced</span></div>
              </div>
            </div>
            <div class="col-5">
                <p>SSMS</p>
              </div>
              <div class="col-7 pt-1">
                <div class="progress">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Excellent</span></div>
                </div>
              </div>
            <div class="col-5">
              <p class="mb-0">Trello</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Excellent</span></div>
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0">TFS</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Excellent</span></div>
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0">Jira</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Excellent</span></div>
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0">Bitbucket</p>
            </div>
            <div class="col-7 pt-1">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="w-100 text-left pl-1">Excellent</span></div>
              </div>
            </div>
          </div>
        </div>

  </div>
<!-- Skill tables -->
</div>

